:root {
  /*
   * Color Palette.
   */
  --color-absolutezero: #003cc5;
  --color-white: #fff;
  --color-text: #222330;
  --color-whitesmoke: #f3f4f9;
  --color-whitesmoke-light: #fafbfd;
  --color-whitesmoke-o-40: rgba(243, 244, 249, 0.4);
  /* Secondary. */
  --color-lightgray: #d8d9e0;
  --color-lightgray-o-80: rgba(216, 217, 224, 0.8);
  --color-grayblue: #8e929c;
  --color-oldsilver: #82828c;
  --color-davysg--size-input-border: 0.0625rem; /* (1/16)em ~ 1px */rey: #545560;
  --color-maximumred: #d72222;
  --color-sunglow: #ffd23f;
  --color-celadongreen: #228572;
  --color-focus: #26a769;
  /* Variations. */
  --color-lightgray-hover: #c2c3ca; /* 5% darker than base. */
  --color-lightgray-active: #adaeb3; /* 10% darker than base. */
  --color-absolutezero-hover: #0036b1; /* 5% darker than base. */
  --color-absolutezero-active: #00309e; /* 10% darker than base. */
  --color-maximumred-hover: #c11f1f; /* 5% darker than base. */
  --color-maximumred-active: #ab1b1b; /* 10% darker than base. */
  --color-bgblue-hover: #f0f5fd; /* 5% darker than base. */
  --color-bgblue-active: #e6ecf8; /* 10% darker than base. */
  --color-bgred-hover: #fdf5f5; /* 5% darker than base. */
  --color-bgred-active: #fceded; /* 10% darker than base. */


  /*
   * Inputs.
   */
  --color-input-fg: var(--color-fg);
  --color-input-bg: var(--color-bg);
  --color-description-fg: var(--color-davysgrey);
  --color-placeholder-fg: var(--color-grayblue);
  --color-input-border: var(--color-grayblue);
  --color-input-border-hover: var(--color-text);
  --color-input-border-focus: var(--color-absolutezero);
  --color-input-focus-shadow: rgba(0, 74, 220, 0.3); /* Absolute zero with opacity. */
  --color-input-error: var(--color-maximumred);
  --color-input-border-error: var(--color-maximumred);
  --color-input-label-disabled: rgba(84, 85, 96, 0.6); /* Davy's grey with 0.6 opacity. */
  --color-input-fg-disabled: var(--color-oldsilver);
  --color-input-bg-disabled: #f2f2f3; /* Light gray with 0.3 opacity on white bg. */
  --color-input-border-disabled: #bababf; /* Old silver with 0.5 opacity on white bg. */
  --opacity-input-border-disabled: 0.5;
  --size-input-border-radius: 0.125rem; /* (1/8)em ~ 2px */
  --size-input-border: 0.0625rem; /* (1/16)em ~ 1px */
  --size-required-mark: 0.4375rem; /* 7px inside the form element label. */

  --line-height: 1.5;
  --font-size-base: 1rem; /* 1rem = 16px if font root is 100% ands browser defaults are used. */
  --font-size-h1: 2.027rem; /* ~32px */
  --font-size-h2: 1.802rem; /* ~29px */
  --font-size-h3: 1.602rem; /* ~26px */
  --font-size-h4: 1.424rem; /* ~23px */
  --font-size-h5: 1.266rem; /* ~20px */
  --font-size-h6: 1.125rem; /* 18px */
  --font-size-s: 0.889rem; /* ~14px */
  --font-size-xs: 0.79rem; /* ~13px */
  --font-size-xxs: 0.702rem; /* ~11px */
  --font-size-label: var(--font-size-s);
  --font-size-description: var(--font-size-xs);

  /**
   * App extras
   */
  --color-primary: var(--color-text);
  --color-light: #C4C4C4;
  --color-neutral: #E5E5E5;

  --color-bgblue-light: #F3F7FD;

  --width-aside: 320px;
  --nav-offset: 0;

  --radius-s: 5px;

  /**
   * Spaces.
   */
  --space-xl: 3rem; /* 4 * 16px = 48px */
  --space-l: 1.5rem; /* 1.5 * 16px = 24px */
  --space-m: 1rem; /* 1 * 16px = 16px */
  --space-s: 0.75rem; /* 0.75 * 16px = 12px */
  --space-xs: 0.5rem; /* 0.5 * 16px = 8px */

}

$ff-default: 'Oxygen', sans-serif;
$ff-mono: 'Oxygen Mono', monospace;
