/**
 * @file
 * Select input elements.
 */

.form-element--type-select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 9'%3E%3Cpath fill='none' stroke-width='1.5' d='M1 1L7 7L13 1' stroke='%23545560'/%3E%3C/svg%3E%0A");
  background-position: 100% 50%;
  background-size: 2.75rem 0.5625rem; /* w: 14px + (2 * 15px), h: 9px */
  background-repeat: no-repeat;
  padding-right: calc(2rem - var(--size-input-border));
}
[dir="rtl"] .form-element--type-select {
  padding-right: calc(1rem - var(--size-input-border));
  padding-left: calc(2rem - var(--size-input-border));
  background-position: 0 50%;
}
.form-element--type-select.form-element--small {
  background-size: 1.75rem 0.5625rem; /* w: 14px + (2 * 7px), h: 9px */
  padding-right: calc(1.5rem - var(--size-input-border));
}
[dir="rtl"] .form-element--type-select.form-element--small {
  padding-right: calc(0.5rem - var(--size-input-border));
  padding-left: calc(1.5rem - var(--size-input-border));
}

.form-element--type-select::-ms-expand {
  display: none;
}

/**
 * Select states.
 */
.form-element--type-select:focus {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 9'%3E%3Cpath fill='none' stroke-width='1.5' d='M1 1L7 7L13 1' stroke='%23004adc'/%3E%3C/svg%3E%0A");
}
.form-element--type-select[disabled] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 9'%3E%3Cpath fill='none' stroke-width='1.5' d='M1 1L7 7L13 1' stroke='%238e929c'/%3E%3C/svg%3E%0A");
}
