.app-header {
  display: grid;
  grid-template-columns: var(--width-aside) 1fr;
  grid-gap: 1px;
  background: var(--color-light);
}

.app-title {
  margin: 0;
  padding: var(--space-m);
  background: var(--color-primary);
  line-height: 1.4em;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;

  .subtitle {
    display: block;
    font-weight: 400;
    font-size: 2rem;
  }
}


.location {
  padding: var(--space-s);
  background-color: var(--color-whitesmoke-o-40);
  position: relative;
  display: flex;
  flex-direction: column;
}

.location__form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.location__suggestion {
  padding: var(--space-xs);
  position: absolute;
  display: inline-block;
  top: calc(100% - 4px);
  left: var(--space-s);
  background: var(--color-text);
  color: var(--color-white-smoke-light);
  border-radius: var(--radius-s);

  transition: opacity .25s ease-out;

  &--hidden {
    opacity: 0;
    pointer-events: none;
  }

  &::before {
    content: '';
    width: 0;
    height: 0;
    border-left: var(--space-xs) solid transparent;
    border-right: var(--space-xs) solid transparent;
    border-bottom: var(--space-xs) solid var(--color-text);
    position: absolute;
    bottom: 100%;
    left: var(--space-m);
  }

  span {
    color: var(--color-whitesmoke-light);
  }
}

.location__suggestion_button {
  font-size: 1rem;
  padding: 4px var(--space-xs);
  text-decoration: none;
  background: var(--color-text);
  border: none;
  border-radius: var(--radius-s);
  font-size: 1rem;
  background: var(--color-bgblue-light);
  color: var(--color-text);

  &:hover, &:focus {
    background: var(--color-bgblue-active);
  }
}

.query-url {
  padding: var(--space-s);
  background: var(--color-white);
  border: none;
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-family: $ff-mono;
  word-break: break-word;
}
