.app-header {
  display: grid;
  grid-template-columns: var(--width-aside) 1fr;
  grid-gap: 1px;
  background: var(--color-light);
}

.app-title {
  margin: 0;
  padding: var(--space-m);
  background: var(--color-primary);
  line-height: 1.4em;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;

  .subtitle {
    display: block;
    font-weight: 400;
    font-size: 2rem;
  }
}


.location {
  padding: var(--space-s);
  background-color: var(--color-davysgrey);
  display: flex;
}

.query-url {
  padding: var(--space-s);
  background: var(--color-white);
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-family: $ff-mono;
  word-break: break-word;
}
