.param_ui {
  display: flex;
  flex-direction: column;

}

.param_ui__title {
  margin-bottom: .25rem;
  display: flex;
  align-items: center;

  button {
    padding: .2rem 1rem;
    margin-left: var(--space-s);
  }
}

.param_ui__content--edit {
  form {
    display: flex;
    align-items: flex-start;

    button {
      margin-left: var(--space-s);
    }
  }
}

.param_ui__content--view {
  flex: 1;
  overflow-y: scroll;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.param_ui__include--view {

}

.param_ui__fieldset_form {
  display: flex;

  & > div {
    overflow-y: scroll;
  }
}

.param_ui__fieldset--view {

  & > ul {
    margin-bottom: 5px;
  }
}

.fieldset__list_all {
  background: var(--color-lightgray);
}


.filter_loader__list {
  max-height: 100px;
  overflow: scroll;
}

.fieldset__list {
  margin-bottom: 2px;
  display: flex;

  & > ul {
    display: flex;
  }
}
