.param_ui {
  display: flex;
  flex-direction: column;

}

.param_ui__content--view {
  flex: 1;
  overflow-y: scroll;
}

.param_ui__include--view {
  button {
    margin-right: var(--space-s);
  }
}

.param_ui__fieldset_form {
  display: flex;

  & > div {
    overflow-y: scroll;
  }
}

.param_ui__fieldset--view {

  & > ul {
    display: flex;
  }
}
