.param_ui {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}


.param_ui__content--edit {
  form {
    display: flex;
    align-items: flex-start;
  }

  flex-basis: 100%;
}

.param_ui__content--view {
  display: flex;
  align-items: center;
}

.param_ui__include--view {

}

.param_ui__fieldset_form {
  display: flex;

  & > div {
    overflow-y: scroll;
  }
}

.param_ui__fieldset--view {

}

.fieldset__list_all {
  border: none;
  width: 16px;
  height: 16px;
}

.fieldset__list {
  margin-bottom: 2px;

  & > ul {
    display: flex;
  }
}

.param_ui__loader {
  display: flex;
}
.param_ui__attribute_list {
  border: var(--size-input-border) solid var(--color-input-border);
  border-radius: var(--size-input-border-radius);
  background: var(--color-input-bg);

  .attribute {
    background: var(--color-whitesmoke-light);
    border-bottom: 1px solid var(--color-whitesmoke);
    margin-bottom: 1px;
    padding: .2rem .4rem;
    display: flex;
    align-items: center;
  }
}
.param_ui__loader_list {
  margin-right: 2px;
  select {
    width: 100%;
  }
}

.param_ui__title {
  margin-right: .5rem;

  span {
    display: flex;
  }

  button {
    padding: .2rem 1rem;
    margin-left: var(--space-s);
  }
}
.param_ui__attribute_list {
  max-height: 100px;
  overflow-y: scroll;
}

.param_ui__relationship_list {

}

.attribute_header {
  border: 1px solid var(--color-lightgray);
  margin: 5px 0;
  padding: 2px;
  background: #fff;
  & > span {
    margin-left: .5rem;
  }
}


.param_ui__item {
  display: flex;
  align-items: center;
  margin-right: 5px;
  padding: .2rem .4rem;
  font-size: var(--font-size-xs);

  code,
  span {
    margin: 0 .4rem
  }
  span + button {

  }
}

.param_ui__item--pill,
.param_ui__item--large {
  background: var(--color-whitesmoke);
  border: 1px solid var(--color-oldsilver);
}

.param_ui__item--pill {
  border-radius: 16px;
}

.param_ui__item--large {
  border-radius: var(--radius-s);
}

button.param_ui__button--icon {
  border: 1px solid transparent;
  background: none;
  display: flex;
  align-items: center;
  width: 16px;
  height: 16px;
  padding: 0;
}

.param_ui__item--include {

}

.form_widget,
.form_widget__action {
  display: flex;
}

.form_widget {
  border: var(--size-input-border) solid var(--color-input-border);
  margin: .5rem 0;
  padding: .5rem;
  align-items: center;

  > * {
    margin: 0 .2rem;
  }
}
