@import 'base/variables';
@import 'header';

html, body {
  margin: 0;
  padding: 0;
}
body {
  font-size: 18px;
  font-family: $ff-default;
  color: var(--color-text);
}

h1 {
  margin: 1rem;
}

.container {
  display: grid;
  grid-template-areas: "a a"
                       "b c";
  grid-template-rows: auto 1fr;
  grid-template-columns: var(--width-aside) 1fr;
  grid-gap: 1px;
  min-height: 100vh;
  max-height: 100vh;
  background: var(--color-light);
}

.controls {
  margin-bottom: 2px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2px;
}

.controls_panel {
  max-height: 30vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  & > ul {
    border-top: 1px solid var(--color-lightgray);
    overflow: scroll;
    flex: 1;
  }
}

.results-container {
  flex: 1;
  display: grid;
  grid-template-areas: "schema results";
  grid-gap: 2px;
  grid-template-columns: 1fr 1fr;
  overflow: scroll;
}

.links {
}
.schema {
  grid-area: schema;
}
.tree {
  grid-area: tree;
}
.raw {
  grid-area: raw;
}
header {
  grid-area: a;
}
nav {
  grid-area: b;
}
main {
  grid-area: c;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

nav {
  background: var(--color-neutral);
  overflow: hidden;
  display: flex;
}

.menu__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  transform: translateX(calc(-1 * var(--nav-offset) * var(--width-aside)));
  transition: .25s transform ease-in-out;
}

.menu__nav {
  flex: 1;
  overflow: scroll;
  width: var(--width-aside);

  & > li {
    margin: 4px 0;
    padding: 0;
  }
}

.menu__nav_item {

  & > .menu__attribute {
    border-top-left-radius: var(--radius-s);
    border-bottom-left-radius: var(--radius-s);

    & > .menu__attribute_header,
    & > .menu__attribute_properties {
      padding: var(--space-s);
    }
    & > .menu__attribute_header {
      background: var(--color-bgblue-hover);
    }
    & > .menu__attribute_properties {
      padding-top: 0;
      background: var(--color-white);
    }
  }

  font-size: .8rem;
}

.menu__location {
  font-weight: 700;
  box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.25);
  z-index: 2;
  background: var(--color-white);
}

.menu__location_title {
  padding: var(--space-s) var(--space-l);
  display: block;
}

.menu__attribute_header {
  border-top-left-radius: var(--radius-s);
}

.menu__attribute_properties {
  border-bottom-left-radius: var(--radius-s);
}

.menu__container button {
  font-size: .8rem;
  line-height: 1.2em;

  &:focus, &:hover {
    background-color: var(--color-bgblue-hover);
    outline: none;
  }

  &.active {
    background-color: var(--color-bgblue-active);
  }
}

.menu__attribute_properties {

  .menu__attribute {
    padding: 0;
  }
}

.menu__container button {
  border: none;
  text-align: left;
  width: 100%;
}

.link--prev,
.link--next {
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link--prev:before,
.link--next:after {
  content: '';
  width: 24px;
  height: 24px;
  top: var(--space-s);
  background: url(../img/dropdown.svg) no-repeat;
}

.link--prev {
  padding-right:  var(--space-l);
  padding-left: var(--space-s);

  &:before {
    left: var(--space-s);
    transform: rotate(90deg);
  }
}
.link--next {
  padding-right: var(--space-s);
  padding-left:  var(--space-l);

  &:after {
    right: var(--space-s);
    transform: rotate(-90deg);
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: .3rem 0;
}


.tabs {
  display: flex;
}

.tabs li {
  padding: .5rem 1rem;
  background: #ccc;
  margin-left: 2px;
  cursor: pointer;
}

.tabs li.is_active {
  background: #666;
  color: #fff;
}

.links li {
  margin-left: 1rem;
  display: inline-block;
}

.tabs li,
.links li:first-child {
  margin-left: 0;
}

.link__title--readable {
  display: block;
  font-weight: 700;
}

.link__text--machine {
  font-family: $ff-mono;
}


.link__text_type {
  color: var(--color-absolutezero);
  &::before {
    content: ':';
  }
}

.link__text_description {
  margin: .5rem 0;
  font-style: italic;
  color: var(--color-davysgrey);
}

button {
  padding: .5rem 2rem;
  appearance: none;
  border: 1px solid #8E929C;
  background: #fff;
  border-radius: 2px;
  cursor: pointer;
}

.pane {
  padding: .5rem;
  background: #F3F4F9;
}

.tab {
  display: none;
}
.tab.tab__active {
  display: block;
}

.raw-results {
  max-width: 38vw;
}

.schema-list {
  margin-left: 10px;
  padding-left: 5px;
  border-left: 5px solid #ccc;
}

.schema > .schema-list {
  margin-left: 0;
  padding-left: 0;
  border-left: none;
}

.results li {
  margin: 0;
}

li.result-row {
  margin-bottom: 1em;
}

.result-row {
  background-color: var(--color-white);

  .CodeMirror {
    height: initial;
  }
}

.result-row-field {
  &:nth-child(2n-1) {
    border-left: 8px solid var(--color-grayblue);
  }

  &:nth-child(2n) {
    border-left: 8px solid var(--color-lightgray);
  }
}

.result-row-field-focus-link {
  cursor: pointer;

  .arrow {
    padding-right: 1em;
  }
}

.result-row-path {
  font-family: monospace;
  color: var(--color-absolutezero);
  padding: .5em;
}

.result-row-value {
  font-family: $ff-mono;
  padding: 1em;

  .empty-array {
    color: var(--color-lightgray);
  }
}

.result-row-actions {
  ul {
    display: flex;
  }

  li {

  }
}
