@import 'base/variables';
@import 'header';

html, body {
  margin: 0;
  padding: 0;
}
body {
  font-size: 18px;
  font-family: $ff-default;
  color: var(--color-text);
}

h1 {
  margin: 1rem;
}

.container {
  display: grid;
  grid-template-areas: "a a"
                       "b c";
  grid-template-rows: auto 1fr;
  grid-template-columns: var(--width-aside) 1fr;
  grid-gap: 1px;
  min-height: 100vh;
  max-height: 100vh;
}

.controls {
  margin-bottom: 2px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2px;
}

.controls_panel {
  max-height: 30vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  & > ul {
    border-top: 1px solid var(--color-lightgray);
    overflow: scroll;
    flex: 1;
  }
}

.results-container {
  flex: 1;
  display: grid;
  grid-template-areas: "schema results";
  grid-gap: 2px;
  grid-template-columns: 1fr 1fr;
  overflow: scroll;
}

.links {
}
.schema {
  grid-area: schema;
}
.tree {
  grid-area: tree;
}
.raw {
  grid-area: raw;
}
header {
  grid-area: a;
}
nav {
  grid-area: b;
}
main {
  grid-area: c;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

nav {
  background: var(--color-neutral);
  overflow: hidden;
  display: flex;
}

.menu__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  transform: translateX(calc(-1 * var(--nav-offset) * var(--width-aside)));
  transition: .25s transform ease-in-out;
}

.menu__nav {
  flex: 1;
  overflow: scroll;
  width: var(--width-aside);

  li {
    margin: 0;
    padding: 0;
    border-top: 1px solid var(--color-lightgray);
  }
  button {
    width: 100%;
    &:focus, &:hover {
      background-color: var(--color-bgblue-hover);
      outline: none;
    }

    &.active {
      background-color: var(--color-bgblue-active);
    }
  }
}

.menu__location,
.menu__nav button {
  padding: var(--space-s);
  padding-left: var(--space-xl);
  border: none;
  text-align: left;
}

.menu__location {
  font-weight: 700;
}


.link--next {
  display:flex;
  justify-content: space-between;
  align-items: center;

  &:after {
    content: '';
    width: 24px;
    height: 24px;
    background: url(../img/dropdown.svg) no-repeat;
    transform: rotate(-90deg);
  }
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: .3rem 0;
}


.tabs {
  display: flex;
}

.tabs li {
  padding: .5rem 1rem;
  background: #ccc;
  margin-left: 2px;
  cursor: pointer;
}

.tabs li.is_active {
  background: #666;
  color: #fff;
}

.links li {
  margin-left: 1rem;
  display: inline-block;
}

.tabs li,
.links li:first-child {
  margin-left: 0;
}

.link__title--readable {
  display: block;
  font-weight: 700;
}

.link__title--machine {
  font-family: $ff-mono;
}

button {
  padding: .5rem 2rem;
  appearance: none;
  border: 1px solid #8E929C;
  background: #fff;
  border-radius: 2px;
  cursor: pointer;
}

.pane {
  padding: .5rem;
  background: #F3F4F9;
}

.tab {
  display: none;
}
.tab.tab__active {
  display: block;
}

.raw-results {
  max-width: 38vw;
}

.schema-list {
  margin-left: 10px;
  padding-left: 5px;
  border-left: 5px solid #ccc;
}

.schema > .schema-list {
  margin-left: 0;
  padding-left: 0;
  border-left: none;
}

