@import 'base/variables';
@import 'header';
@import 'nav';
@import 'param';
@import 'result';
@import 'form';
@import 'form--select';

html, body {
  margin: 0;
  padding: 0;
}
body {
  font-size: 18px;
  font-family: $ff-default;
  color: var(--color-text);
}

h1 {
  margin: 1rem;
}

.container {
  display: grid;
  grid-template-areas: "a a"
                       "b c";
  grid-template-rows: auto 1fr;
  grid-template-columns: var(--width-aside) 1fr;
  grid-gap: 1px;
  min-height: 100vh;
  max-height: 100vh;
  background: var(--color-light);
}

.controls {
  display: grid;
  grid-gap: 4px;
  padding: 4px;
}

.controls_panel {
  padding: .5rem;
  background: var(--color-white);
  border-radius: var(--radius-s);
}

.results-container {
  flex: 1;
  overflow: scroll;
}

.links {
}
.schema {
  grid-area: schema;
}
.tree {
  grid-area: tree;
}
.raw {
  grid-area: raw;
}

header.app-header {
  grid-area: a;
}
nav {
  grid-area: b;
}
main {
  grid-area: c;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

.flex-height {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
}

.tabs li {
  padding: .5rem 1rem;
  margin-left: 2px;
  cursor: pointer;
}

.tabs li.is_active {
  background: #fff;
}

.links li {
  margin-left: 1rem;
  display: inline-block;
}

.tabs li,
.links li:first-child {
  margin-left: 0;
}

.link__title--readable {
  display: block;
  font-weight: 700;
}

.link__text--machine {
  font-family: $ff-mono;
}

.link__toggle {
  font-size: 1.25rem;
  line-height: 0;
  margin-left: .5rem;
  color: var(--color-davysgrey);
  cursor: pointer;
  &:hover {
    color: var(--color-absolutezero-hover);
  }
}

.link__toggle--active {
  color: var(--color-absolutezero);
}

.link__toggle--disabled {
  color: var(--color-grayblue);

  &:hover {
    color: var(--color-grayblue);
  }
}

.link__text_type {
  color: var(--color-absolutezero);
  &::before {
    content: ':';
  }
}


.link__text_description {
  margin: .5rem 0;
  font-style: italic;
  color: var(--color-davysgrey);
}

button {
  padding: .5rem 2rem;
  appearance: none;
  border: 1px solid #8E929C;
  background: #fff;
  border-radius: 2px;
  cursor: pointer;
}

.pane {
  padding: .5rem;
  background: #F3F4F9;
}

.tab {
  display: none;
}
.tab.tab__active {
  display: flex;
}

.tab__header {
  font-size: 1.25em;
  font-weight: bold;
  margin: 0;
  padding: var(--space-l) var(--space-s);
  background: var(--color-white);
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, .25);
  display: flex;
}

.page_navigation {
  margin-left: auto;

  & > * {
    padding: 0 var(--space-s);
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}

.page_navigation__link_arrow {
  cursor: pointer;
}

.results__empty {
  margin: 0;
  padding: var(--space-l) var(--space-s);
}

.results__raw .CodeMirror {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.results_rows {
  flex: 1;
  overflow: scroll;
}

.schema-list {
  margin-left: 10px;
  padding-left: 5px;
  border-left: 5px solid #ccc;
}

.schema > .schema-list {
  margin-left: 0;
  padding-left: 0;
  border-left: none;
}

pre {
  margin: -.5rem 0;
  display: block;
  background: var(--color-whitesmoke-o-40);
  border: 1px solid var(--color-whitesmoke-light);
  width: 100%;
  overflow: scroll;
}

.title--readable {
  font-weight: 700;
}
.title--machine {
  font-family: $ff-mono;
}
